---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&location0=us&location1=california&location2=san%20francisco&salary_max=200000&salary_min=100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":148963.99,"__CLASS__":"Adzuna::API::Response::JobSearchResults","count":492,"results":[{"longitude":-122.441408,"latitude":37.770051,"redirect_url":"https://www.adzuna.com/land/ad/2844213317?se=xC-ZiES87BGhBIQLGHPMqw&utm_medium=api&utm_source=5e859b54&v=BF9668CE5FF29CD456CD0952C90E8AC7569EBC86","contract_type":"permanent","salary_min":120000,"description":"You
        will be working directly alongside Layer1''s engineering leadership, so this
        role comes with significant autonomy and responsibility. We are deeply involved
        with a Rust-based coin with interactive transaction construction. As Applied
        Cryptography Engineer at Layer1, you will: Contribute to the project''s general
        open-source protocol development Write advanced software tooling to interface
        with and analyze the protocol network Explore and implement Confidential Assets
        Build Critical infrastruc\u2026","title":"Applied Cryptography Engineer (Rust)","location":{"display_name":"Panhandle,
        San Francisco","__CLASS__":"Adzuna::API::Response::Location","area":["US","California","San
        Francisco","Panhandle"]},"category":{"label":"IT Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"it-jobs"},"created":"2022-01-26T06:40:24Z","__CLASS__":"Adzuna::API::Response::Job","salary_max":160000,"salary_is_predicted":"0","company":{"display_name":"Layer1
        Technologies","__CLASS__":"Adzuna::API::Response::Company"},"id":"2844213317","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoieEMtWmlFUzg3QkdoQklRTEdIUE1xdyIsImkiOiIyODQ0MjEzMzE3In0.K9yL8Hh-xg_3UrPV2-uax6WLj3I1YbAcmzAWdTcWEgM"},{"__CLASS__":"Adzuna::API::Response::Job","created":"2022-02-03T10:56:15Z","category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"admin-jobs","label":"Admin
        Jobs"},"title":"Climate and Energy Program Director","contract_time":"full_time","salary_min":105000,"description":"ABOUT
        RAN For more than 30 years, Rainforest Action Network (RAN) has campaigned
        to preserve forests, protect the climate and uphold human rights by challenging
        corporate power and systemic injustice through research, education, partnerships,
        non-violent direct action, grassroots organizing, strategic campaigns and
        communications. We are committed to working with Indigenous and frontline
        communities di[...]
