---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":1241,"mean":207731.01,"results":[{"__CLASS__":"Adzuna::API::Response::Job","category":{"tag":"accounting-finance-jobs","label":"Accounting
        & Finance Jobs","__CLASS__":"Adzuna::API::Response::Category"},"created":"2022-05-03T21:59:28Z","salary_is_predicted":"0","company":{"display_name":"BlackRock,
        Inc.","__CLASS__":"Adzuna::API::Response::Company"},"redirect_url":"https://www.adzuna.com/land/ad/3101865125?se=Lu-0m77L7BGK3-Lsd04pBg&utm_medium=api&utm_source=5e859b54&v=86C3BF103E971027DDD366CCB74927EB2C0102EF","latitude":38.918677,"longitude":-84.263547,"id":"3101865125","location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"salary_max":288000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzEwMTg2NTEyNSIsInMiOiJMdS0wbTc3TDdCR0szLUxzZDA0cEJnIn0.lKK0n8ST2Iuyw_ezkD9q4WM38NsS5spxDXJadRzb6EU","title":"Aladdin
        Business, Sales Engineering, Vice President","salary_min":240000,"description":"Description
        About this role Job Description BlackRock Solutions (BRS) provides clients
        with access to the intellectual capital, risk analytics and investment platform
        used to support BlackRock''s asset management business. By combining sophisticated
        risk analytics and investment systems with capital markets and business process
        expertise, BlackRock Solutions helps clients address a variety of risk management
        and investment process challenges. Blac[...]
