---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"2722724764","created":"2021-12-09T01:35:12Z","salary_min":288000,"salary_is_predicted":"0","__CLASS__":"Adzuna::API::Response::Job","redirect_url":"https://www.adzuna.com/land/ad/2722724764?se=EvpbT4TB7BG8c5jOd04pBg&utm_medium=api&utm_source=5e859b54&v=05A8E326EF299C602BBE993450861B71CF1CB4D9","longitude":-84.263547,"latitude":38.918677,"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Jobsbridge"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiRXZwYlQ0VEI3Qkc4YzVqT2QwNHBCZyIsImkiOiIyNzIyNzI0NzY0In0.cACRWVEp76thlbA8ZPkBFSASyVWK-HmYQChSXd2g9MQ","description":"Jobs
        Bridge Inc is among the fastest growing IT staffing / professional services
        organization with its own job portal. Jobs Bridge works extremely closely
        with a large number of IT organizations in the most in-demand technology skill
        sets. Job Description Skill HTML5, CSS3 Location Santa Monica, CA Total Experience
        8 yrs. Max Salary Not Mentioned Employment Type Direct Jobs (Full Time) Domain
        Any Description GC/CITIZEN can apply Responsibilities: Develop new user-facing
        features Build reusable \u2026","salary_max":384000,"title":"Senior Front-End
        Developer-IV","location":{"display_name":"California, Campbell County","area":["US","Kentucky","Campbell
        County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"category":{"label":"IT
        Jobs","tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category"},"contract_time":"full_time"},{"salary_max":288000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzA0MDY2NzIwMiIsInMiOiJFdnBiVDRUQjdCRzhjNWpPZDA0cEJnIn0.l6lquckVt4Q1oJvPey07FRsRaFuu7Sa0ohojMB_r__g","description":"Press
        Tab to Move to Skip to Content Link 1250 Burbank, CA, US, 91502 Production
        Burbank Full-Time Nickelodeon, now in its 42nd year, is the number-one entertainment
        brand for kids. It has built a diverse, global business by putting kids first
        in everything it does. The brand inc[...]
