---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":200184.99,"count":1470,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"category":{"label":"Accounting
        & Finance Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"accounting-finance-jobs"},"longitude":-84.263547,"location":{"display_name":"California,
        Campbell County","__CLASS__":"Adzuna::API::Response::Location","area":["US","Kentucky","Campbell
        County","California"]},"latitude":38.918677,"salary_min":288000,"id":"3053851423","salary_is_predicted":"0","__CLASS__":"Adzuna::API::Response::Job","description":"Your
        potential. Your opportunity. Are you passionate about creating an exceptional
        client experience? Discover your opportunity with Union Bank\u00ae, a division
        of the Mitsubishi UFJ Financial Group (MUFG), the 5th largest financial group
        in the world. At Union Bank, we have our clients\u2019 best interest in mind
        and draw on more than 160 years of experience to understand their distinct
        needs to tailor our solutions. We\u2019re part of 180,000 colleagues around
        the globe striving to be the world\u2019s most trus\u2026","salary_max":384000,"company":{"display_name":"MUFG
        Union Bank, N.A.","__CLASS__":"Adzuna::API::Response::Company"},"title":"Small
        Business Relationship Manager, Vice President - Hybrid","created":"2022-04-14T21:44:11Z","redirect_url":"https://www.adzuna.com/land/ad/3053851423?se=7gV3L7_B7BGWyt1SWh1rng&utm_medium=api&utm_source=5e859b54&v=A6EABB321107306E95F0BA0ADDE8196B6D2F1A67","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiN2dWM0w3X0I3QkdXeXQxU1doMXJuZyIsImkiOiIzMDUzODUxNDIzIn0.Yhzh5pcS_Zy3bG24OTONI0YnNUxgYPoQJGeyJlf4wI4"},{"created":"2022-03-23T13:21:36Z","company":{"display_name":"krg
        technology inc","__CLASS__":"Adzuna::API::Response::Company"},"title":"Android
        / IOS Developer","salary_max":288000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiN2dWM0w3X0I3QkdXeXQxU1doMXJuZyIsImkiOiIyOTkzOTM3OTA0In0.YBddHQsLyzKlatBz6SBt6XzO0qQR9deNBF2d6BUfv1k","redirect_url":"https://www.adzu[...]
