---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoicHRxeHdQZkw3QkdxdjFDaHQ3R1dDZyIsImkiOiIzMDk1NzA0MTI3In0.-hxeVttfmrtkY-41wOli6E6k9USuT1MVmRf5PPr-r5U","salary_max":288000,"redirect_url":"https://www.adzuna.com/land/ad/3095704127?se=ptqxwPfL7BGqv1Cht7GWCg&utm_medium=api&utm_source=5e859b54&v=B065FCC1006F698715C8B13C990E2F00ED1FBB57","location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"Hospitality
        & Catering Jobs","tag":"hospitality-catering-jobs"},"__CLASS__":"Adzuna::API::Response::Job","salary_min":240000,"salary_is_predicted":"0","created":"2022-05-01T21:57:10Z","longitude":-84.263547,"title":"Assistant
        General Manager","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Fairfield
        Inn & Suites Calgary Downtown"},"description":"Job Summary Responsible for
        supporting all aspects of the operation including guest and employee satisfaction,
        human resources, financial performance, sales and revenue generation and delivering
        a return on investment. Assists the General Manager in leading the team in
        the development and implementation of property-wide strategies. Verifies the
        implementation of the brand service strategy and brand initiatives with the
        objective of meeting or exceeding guest expectations. Builds relationships
        w\u2026","id":"3095704127","latitude":38.918677},{"salary_min":288000,"salary_is_predicted":"0","created":"2021-12-09T01:31:08Z","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Next
        Level Business Services, Inc."},"longitude":-84.263547,"title":"Salesforce
        Technical Architect","description":" 5 years Salesforce experience as a developer  Salesforce
        certified platform developer I and II, Salesforce certified administrator
        and Advanced Administrator are required  Implementation a[...]
