---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"longitude":-84.263547,"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"Logistics
        & Warehouse Jobs","tag":"logistics-warehouse-jobs"},"salary_max":384000,"salary_min":288000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiQkcyRnNwckk3QkdocHBUWWQwNHBCZyIsImkiOiIyNzIyNzI2MDEyIn0.EQVkeqAgFTVBJkyIqJ5L1ZK7um4XMVh3Cxs7_Z1sRaA","id":"2722726012","__CLASS__":"Adzuna::API::Response::Job","location":{"display_name":"California,
        Campbell County","__CLASS__":"Adzuna::API::Response::Location","area":["US","Kentucky","Campbell
        County","California"]},"redirect_url":"https://www.adzuna.com/land/ad/2722726012?se=BG2FsprI7BGhppTYd04pBg&utm_medium=api&utm_source=5e859b54&v=4E02C1DCE810D63871C46567F8D1033EF226435D","created":"2021-12-09T06:35:31Z","description":"You
        are here Job Title: Farmscap 1620 S 7th St 95112 San Jose , CA US Job Type:
        Job Employment Type: Full-Time Job Description: Farmscape seeks an Agrihood
        Farm Manager to oversee a three acre Agrihood farm in Fremont. Duties & Responsibilities:
        Run all aspects of small farm, including crop rotation, soil amendment, irrigation,
        pest control and harvesting Operate rototiller and other farm equipment Perform
        supply & inventory purchasing and management Schedule/Manage 1-2 part-time
        farmers assign\u2026","salary_is_predicted":"0","contract_time":"part_time","title":"Agrihood
        Farm Manager","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"International
        Rescue Committee "},"latitude":38.918677},{"latitude":38.918677,"salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Hyatt
        Hotels Corporation"},"title":"Director of Human Resources","location":{"display_name":"California,
        Campbell County","__CLASS__":"Adzuna::API::Response::Location","area":["US","Kentucky","Campbell
        County","California"]},"__CLASS__":"Adzuna::API::Response::Job","description":"If
        you''re looking for a career with Apple Leisure Group[...]
