---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":206054.94,"results":[{"salary_min":288000,"created":"2021-12-09T01:36:18Z","salary_max":384000,"id":"2722731862","company":{"display_name":"Administrative
        Resource Options","__CLASS__":"Adzuna::API::Response::Company"},"latitude":38.918677,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiRHRhblptZkc3QkdBbWVlRXQ3R1dDZyIsImkiOiIyNzIyNzMxODYyIn0.mbYsgEEvGS5JGNpPYqunf1ju2lpF-HB48zT90b33KV8","longitude":-84.263547,"__CLASS__":"Adzuna::API::Response::Job","salary_is_predicted":"0","title":"Legal
        Copy Center Manager","redirect_url":"https://www.adzuna.com/land/ad/2722731862?se=DtanZmfG7BGAmeeEt7GWCg&utm_medium=api&utm_source=5e859b54&v=5B03D9022F1D47064F0F58B7334887F746610C6A","category":{"tag":"admin-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"Admin
        Jobs"},"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"contract_time":"full_time","description":"Administrative
        Resource Options (ARO) is a leading international outsourcing firm specializing
        in office services management. We are a privately held, certified woman owned
        business and have a presence in 28 states nationwide as well as 4 provinces
        in Canada. Our services include copy/print, mail and package handling, reception,
        printer/copier fleet management, and office supply management. We offer a
        full complement of employee benefits including[...]
