---
http_interactions:
- request:
    method: get

    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:

      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8

      Connection:
      - keep-alive
      Server:
      - nginx/1.14.0 (Ubuntu)

      Vary:
      - Content-Type
      Access-Control-Allow-Headers:
      - Origin, X-Requested-With, Content-Type, Accept
      Access-Control-Allow-Origin:
      - "*"
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"title":"Postal Clerk","contract_type":"permanent","latitude":38.918677,"location":{"area":["US","Kentucky","Campbell
        County","California"],"display_name":"California, Campbell County","__CLASS__":"Adzuna::API::Response::Location"},"salary_min":41740,"created":"2022-02-17T17:15:43Z","category":{"label":"Admin
        Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"admin-jobs"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjkwNjU1MDk2MyIsInMiOiJHR3JjVnRhODdCR2dCeFZGSUFNTzdRIn0.lXgZOT-VB1Un7z5PKL19X-SKHd5_9NpEHf4-dgzqlzI","salary_is_predicted":"0","__CLASS__":"Adzuna::API::Response::Job","description":"NO
        EXPERIENCE REQUIRED \u2013 PAID TRAINING PROVIDED \u2013 JOB SECURITY The
        Postal Service is the largest government related agency in terms of employees.
        The Postal Service currently employs nearly 1 million people and is hiring
        nationwide. There is NO experience required, paid training is provided for
        all job openings. There are MANY different positions available. The job openings
        range in starting salary from $21.94 to $38.65 per hour, $72,400/year average
        pay with full benefits. Benefits include pai\u2026","longitude":-84.263547,"redirect_url":"https://www.adzuna.com/land/ad/2906550963?se=GGrcVta87BGgBxVFIAMO7Q&utm_medium=api&utm_source=5e859b54&v=45F9353F530829C5BD2903089B92B6CF44896FEE","id":"2906550963","salary_max":74150,"contract_time":"full_time","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"USA
        Labor Services"}},{"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzAxMzYzMTUxMSIsInMiOiJHR3JjVnRhODdCR2dCeFZGSUFNTzdRIn0.mrygea-j8rD7NUqCO2wOaTO-GYiQaSMV_ZDfcUIB49w","salary_is_predicted":"0","category":{"tag":"accounting-finance-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"Accounting
        & Finance Jobs"},"company":{"display_name":"SignalFx","__CLASS__":"Adzuna::API::Response::Company"},"longitude":-84.263547,"[...]
