---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":207853.69,"count":1245,"results":[{"redirect_url":"https://www.adzuna.com/land/ad/2969387300?se=zjmj2_XL7BGqv1Cht7GWCg&utm_medium=api&utm_source=5e859b54&v=666A211B05F00DC62B313CED3624EDF489FE5F71","location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjk2OTM4NzMwMCIsInMiOiJ6am1qMl9YTDdCR3F2MUNodDdHV0NnIn0.HpFSzA7fdPNv3rf7QweUDZ3JcOoSbDbXJMtty38WA5Q","salary_max":384000,"__CLASS__":"Adzuna::API::Response::Job","category":{"tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs"},"created":"2022-03-13T21:07:47Z","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"United
        Health Group"},"title":"Associate Director, Principal Data Scientist","longitude":-84.263547,"salary_min":288000,"salary_is_predicted":"0","latitude":38.918677,"id":"2969387300","description":"As
        the largest health insurance payer in the United States, and as one of the
        largest healthcare services providers, UnitedHealth Group provides a professional
        culture where you''re empowered and encouraged to exceed the expectations
        of our members, while making a tangible impact on the healthcare ecosystem.
        Join us and start doing your life''s best work.(sm) The Associate Director
        (Principal Data Scientist) will partner with the Naviguard busines[...]
