---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"__CLASS__":"Adzuna::API::Response::JobSearchResults","mean":204029.66,"count":1476,"results":[{"id":"2852846026","salary_is_predicted":"0","company":{"display_name":"International
        Rescue Committee ","__CLASS__":"Adzuna::API::Response::Company"},"salary_max":250,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjg1Mjg0NjAyNiIsInMiOiJfazZfb1RXXzdCR2hCSVFMR0hQTXF3In0.sw6GJyhNdfLmTfwmZGLrGncd6xKyhQ8eRbwCvx4YzCU","location":{"area":["US","Kentucky","Campbell
        County","California"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County"},"title":"Mulberry Farm General Manager","description":"Mulberry
        Farm General Manager at Habitera Farms - 14511 You are here Job Title: Mulberry
        Farm General Manager US Job Type: Job Employment Type: Full-Time Job Description:
        Habitera Farms is an 84-acre organic farm that grows premium fruits in the
        farming community of Brentwood in Northern California. We are looking for
        a seasoned farm executive with 7 years of farming experience to focus on leading
        day-to-day operations, including: the farm\u2019s budget, infrastructure,
        team, marketing, branding, an\u2026","salary_min":200,"contract_time":"full_time","redirect_url":"https://www.adzuna.com/land/ad/2852846026?se=_k6_oTW_7BGhBIQLGHPMqw&utm_medium=api&utm_source=5e859b54&v=FD9A6B6EEA52B9E86B32F9361175FB701274187E","latitude":38.918677,"longitude":-84.263547,"__CLASS__":"Adzuna::API::Response::Job","created":"2022-01-29T11:26:16Z","category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"logistics-warehouse-jobs","label":"Logistics
        & Warehouse Jobs"}},{"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiX2s2X29UV183QkdoQklRTEdIUE1xdyIsImkiOiIzMDM4NDY4ODg5In0.nUTE_iPbZvcSWvGHLV588Jec_WPwgflHjOUCVgrJBiU","id":"3038468889","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Zscaler"},"salary_is_predicted":"0","salary_max":288000,"__CLASS__":"Adzuna::API::Response::Job","category":{"tag":"sales-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"Sales
        Jobs"},"created":"2022-04-08T21:40[...]
