---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":203609.81,"__CLASS__":"Adzuna::API::Response::JobSearchResults","count":1475,"results":[{"created":"2022-04-17T21:44:35Z","title":"Director
        of People","redirect_url":"https://www.adzuna.com/land/ad/3060327097?se=ZhVavu7A7BG4nyBjIAMO7Q&utm_medium=api&utm_source=5e859b54&v=2856E6AD014B0EFEFE79E8AA5269ACD626429D66","contract_time":"full_time","salary_max":250,"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"HR
        & Recruitment Jobs","tag":"hr-jobs"},"company":{"display_name":"LINE San Francisco","__CLASS__":"Adzuna::API::Response::Company"},"id":"3060327097","longitude":-84.263547,"latitude":38.918677,"salary_min":200,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiWmhWYXZ1N0E3Qkc0bnlCaklBTU83USIsImkiOiIzMDYwMzI3MDk3In0.Q6Z_6skPXxly_r5iuxH6coqPy5gzTQBXpciNzSEHD1c","__CLASS__":"Adzuna::API::Response::Job","location":{"display_name":"California,
        Campbell County","__CLASS__":"Adzuna::API::Response::Location","area":["US","Kentucky","Campbell
        County","California"]},"description":"Use Facebook or Google to sign in or
        register with SimplyHired. Full-time Estimated: $90,000 - $120,000 a year
        3 days ago Health insurance Qualifications Social media management Microsoft
        Excel Microsoft Powerpoint HRIS Full Job Description About our Brand More
        than a group of hotels, The LINE is a creative community built around a sense
        of discovery \u2014 an exploration of a building, a neighborhood, and a culture.
        From Koreatown in LA to Adams Morgan in DC to downtown Austin, each property
        is arc\u2026","salary_is_predicted":"0"},{"latitude":38.918677,"location":{"area":["US","Kentucky","Campbell
        County","California"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County"},"longitude":-84.263547,"__CLASS__":"Adzuna::API::Response::Job","id":"3000108293","salary_is_predicted":"0","description":"Here
        at Anaplan, we have reinvented how companies see, plan, and run their businesses.
        Our platform allows our customers to uncover new insights, connect thei[...]
