---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzA2NDM4MDE0OCIsInMiOiJ3bEJ3OUl6QjdCR1d5dDFTV2gxcm5nIn0.85VMQG-FEly8qKcqOn_tZqY3_TCVNFWn0n0mZ81TqWM","redirect_url":"https://www.adzuna.com/land/ad/3064380148?se=wlBw9IzB7BGWyt1SWh1rng&utm_medium=api&utm_source=5e859b54&v=CF57D6ECBBFFA4C02F331AC8EBCFE97AB640E9FA","created":"2022-04-19T21:46:02Z","salary_max":288000,"company":{"display_name":"KYOCERA
        SLD Laser, Inc","__CLASS__":"Adzuna::API::Response::Company"},"title":"RF/Opto
        Test Engineer","description":"Job Description Company Introduction SLD Laser,
        a world leader in commercialization of gallium nitride (GaN) based laser light
        sources, was acquired by KYOCERA Corporation and has commenced operations
        as a wholly owned subsidiary and group company of KYOCERA Corporation under
        the name KYOCERA SLD Laser, Inc. (KSLD). KSLD is commercializing a new generation
        of gallium nitride-based laser light sources. KSLD''s high luminance LaserLightTM
        sources are utilized in a myriad of applications including \u2026","__CLASS__":"Adzuna::API::Response::Job","salary_is_predicted":"0","id":"3064380148","salary_min":240000,"longitude":-84.263547,"latitude":38.918677,"location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"engineering-jobs","label":"Engineering
        Jobs"}},{"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoid2xCdzlJekI3QkdXeXQxU1doMXJuZyIsImkiOiIyOTc5ODQ2MDYwIn0.0DP8H6hVewHsy9RHs7GPyiOHWfGBvWL6EzLr-B89s6Q","redirect_url":"https://www.adzuna.com/land/ad/2979846060?se=wlBw9IzB7BGWyt1SWh1rng&utm_medium=api&utm_source=5e859b54&v=A1C1AD97A71651DA200FE041728AFA5CF3E75779","title":"Chief
        Financial Officer - CFO","salary_max":384000,"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Mission
        Search"},"cr[...]
