---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":1476,"mean":204029.66,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"salary_min":200,"__CLASS__":"Adzuna::API::Response::Job","redirect_url":"https://www.adzuna.com/land/ad/2852846026?se=qA-_cja_7BGb_FUCEt2eFw&utm_medium=api&utm_source=5e859b54&v=FD9A6B6EEA52B9E86B32F9361175FB701274187E","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjg1Mjg0NjAyNiIsInMiOiJxQS1fY2phXzdCR2JfRlVDRXQyZUZ3In0.FzRLS8_6CCGDLVUZFoFDYHB6PNQBu6zbpLE7uI858AM","description":"Mulberry
        Farm General Manager at Habitera Farms - 14511 You are here Job Title: Mulberry
        Farm General Manager US Job Type: Job Employment Type: Full-Time Job Description:
        Habitera Farms is an 84-acre organic farm that grows premium fruits in the
        farming community of Brentwood in Northern California. We are looking for
        a seasoned farm executive with 7 years of farming experience to focus on leading
        day-to-day operations, including: the farm\u2019s budget, infrastructure,
        team, marketing, branding, an\u2026","salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"International
        Rescue Committee "},"title":"Mulberry Farm General Manager","contract_time":"full_time","id":"2852846026","category":{"tag":"logistics-warehouse-jobs","label":"Logistics
        & Warehouse Jobs","__CLASS__":"Adzuna::API::Response::Category"},"longitude":-84.263547,"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"created":"2022-01-29T11:26:16Z","latitude":38.918677,"salary_max":250},{"category":{"label":"Sales
        Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"sales-jobs"},"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"longitude":-84.263547,"latitude":38.918677,"created":"2022-04-08T21:40:36Z","salary_max":288000,"salary_min":240000,"__CLASS__":"Adzuna::API::Response::Job","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoicUEtX2NqYV83QkdiX0ZVQ0V[...]
