---
http_interactions:
- request:
    method: get

    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california

    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:

      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8

      Connection:
      - keep-alive
      Server:
      - nginx/1.14.0 (Ubuntu)

      Vary:
      - Content-Type
      Access-Control-Allow-Headers:
      - Origin, X-Requested-With, Content-Type, Accept
      Access-Control-Allow-Origin:
      - "*"
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":1470,"mean":204250.22,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"salary_min":288000,"__CLASS__":"Adzuna::API::Response::Job","category":{"__CLASS__":"Adzuna::API::Response::Category","label":"Sales
        Jobs","tag":"sales-jobs"},"longitude":-84.263547,"redirect_url":"https://www.adzuna.com/land/ad/3048232126?se=TBmtdNK87BGb_FUCEt2eFw&utm_medium=api&utm_source=5e859b54&v=9C0B1E501BACFAAF7E29CB44B28400A765DFC592","location":{"display_name":"California,
        Campbell County","__CLASS__":"Adzuna::API::Response::Location","area":["US","Kentucky","Campbell
        County","California"]},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzA0ODIzMjEyNiIsInMiOiJUQm10ZE5LODdCR2JfRlVDRXQyZUZ3In0.w-7WXEKgVgI787RTksqnpuDfO0MpeS2Kp9i9CLe5Wpc","title":"DIRECTOR
        OF SALES","salary_max":384000,"id":"3048232126","description":"This is an
        amazing ground floor opportunity working with a new technology that is being
        introduced in three different sectors for Apparel. This is technology that
        is sustainable and innovative. This is a US Company that is well funded. Equity
        is possibility. No relocation required.We are looking for a senior level sales
        person that can get this project up and going and then move into a larger
        role. You must be in a situation currently where you are selling an upstream
        Technology like Chemistry \u2026","salary_is_predicted":"0","created":"2022-04-12T21:41:04Z","company":{"display_name":"Rush
        & Company","__CLASS__":"Adzuna::API::Response::Company"},"latitude":38.918677},{"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjk5MzkzNzY1NCIsInMiOiJUQm10ZE5LODdCR2JfRlVDRXQyZUZ3In0.YvhElFEoVEZGXhx__vPVCMR1Hx2L2jlpwxEJQ_R5jYQ","longitude":-84.263547,"redirect_url":"https://www.adzuna.com/land/ad/2993937654?se=TBmtdNK87BGb_FUCEt2eFw&utm_medium=api&utm_source=5e859b54&v=2A69D34DB9A9A97C4E9B4104B54C762F962D4AAF","category":{"__CLASS__":"Adzuna::API::Response::Category","label":"Manufacturing
        Jobs","tag":"manufacturing-jobs"},"__CLASS__":"Adzuna::API::Response::Job","salary_min":240000,"latitude":38.918677,"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"SEABREEZE
        HARVESTING"},"created":"2022-03-23T13:21:35Z","salary_is_predicted":"0","description":"FOOD
        SAFETY PROCESSING SUPERVISOR - OCEAN MIST FARMS, CASTROVILLE, CA October 30,
        2021 The Food Safety Processing Supervisor is in the company\u2019s headquarters
        in Castroville, California. The position reports to and supports the Food
        Safety Manager. This position is responsible for oversight of food safety
        standards in the processing plant for: Spinach, Brussels Sprouts, Broccoli,
        and Artichokes and medley packs. Essential Duties and Responsibilities Primary
        Responsibilities: Enforce the food saf\u2026","id":"2993937654","salary_max":288000,"title":"FOOD
        SAFETY PROCESSING SUPERVISOR - OCEAN MIST FARMS, CASTROVILLE, CA"},{"id":"2993933859","title":"MSBI
        Architect","salary_max":288000,"created":"2022-03-23T13:21:13Z","latitude":38.918677,"company":{"display_name":"Atria
        Group LLC","__CLASS__":"Adzuna::API::Response::Company"},"salary_is_predicted":"0","description":"We
        specialize in Staffing, Consulting, Software Development, and Traini[...]
