---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&what=Backend%20Developer&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":264000,"count":13,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"description":"We
        are seeking a highly skilled engineer to join the cloud and data center infrastructure
        team with at least 5 years of systems development, deployment, and related
        operations experience. The candidate must have experience with distributed
        systems, open source development, agile development methods, CI/CD, and devops
        Job Description Required: \u2022 Bachelor''s degree in Computer Science or
        equivalent. \u2022 Practical design, development and deployment experience
        with evolving existing designs towards la\u2026","company":{"display_name":"samsung","__CLASS__":"Adzuna::API::Response::Company"},"redirect_url":"https://www.adzuna.com/land/ad/2722725024?se=SIADtZrI7BGBFExdt7GWCg&utm_medium=api&utm_source=5e859b54&v=C3D7C7D559DFEC7183801FFE7647A60008EFA5A9","id":"2722725024","created":"2021-12-09T06:35:16Z","salary_max":384000,"__CLASS__":"Adzuna::API::Response::Job","location":{"area":["US","Kentucky","Campbell
        County","California"],"display_name":"California, Campbell County","__CLASS__":"Adzuna::API::Response::Location"},"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs","tag":"it-jobs"},"longitude":-84.263547,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjcyMjcyNTAyNCIsInMiOiJTSUFEdFpySTdCR0JGRXhkdDdHV0NnIn0.64vHZE7_0eLBTUlWkObOFtrgxc5mMPIEriSxhUCzhaM","latitude":38.918677,"salary_is_predicted":"0","salary_min":288000,"title":"Java
        Backend Developer"},{"created":"2022-04-22T05:52:04Z","id":"3070604976","description":"CBRE
        Facilities Manager - Atwater, Ca in Atwater, CA Visa Senior Pricing Analyst
        in Foster City, CA CBRE FM Engineering Operations Manager GWS Local in Santa
        Clara, CA PetSmart Bather / Groomer Trainee in Lancaster, CA Featured Employers
        Backend Software Engineer (Developer) - Python, Linux, ETL (154035) Company:
        AMD Location: SanJose, CA Employment Type: Full Time Date Posted: 04/18/2022
        Expire Date: 06/17/2022 Job Categories: Computers, Software, Engineering,
        Healthcare, Practitioner and Tech\u2026","company":{"display_name":"AMD","__CLASS__":"Adzuna::API::Response::Company"},"title":"Backend
        Software Engineer (Developer) - Python, Linux, ETL (154035)","latitude":38.918677,"salary_is_predicted":"0","salary_min":240000,"longitude":-84.263547,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0lBRHRackk3QkdCRkV4ZHQ3R1dDZyIsImkiOiIzMDcwNjA0OTc2In0.23DZsi3ip6656EpeWHXxcnREcUQMt3U7wEJihsopFB8","location":{"area":["US","Kentucky","Campbell
        County","California"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County"},"__CLASS__":"Adzuna::API::Response::Job","contract_time":"full_time","redirect_url":"https://www.adzuna.com/land/ad/3070604976?se=SIADtZrI7BGBFExdt7GWCg&utm_medium=api&utm_source=5e859b54&v=9C7213A63FF9192BD4D606871F295F49B12DD6F0","category":{"label":"IT
        Jobs","tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category"},"salary_max":288000},{"title":"Core
        Java Developer/BE","salary_min":288000,"salary_is_predicted":"0","latitude":38.918677,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0lBRHRackk3QkdCRkV4ZHQ3R1dDZyIsImkiOiIyNzIyNzAzOTU2In0.[...]
