---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&location0=us&location1=california&location2=san%20francisco&salary_max=200000&salary_min=100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":492,"results":[{"salary_max":160000,"created":"2021-11-04T13:31:30Z","latitude":37.761957,"longitude":-122.395222,"location":{"area":["US","California","San
        Francisco","Potrero Hill"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"Potrero
        Hill, San Francisco"},"category":{"tag":"it-jobs","label":"IT Jobs","__CLASS__":"Adzuna::API::Response::Category"},"id":"2611763157","title":"Senior
        Software Engineer Platform","contract_time":"full_time","company":{"display_name":"Doximity","__CLASS__":"Adzuna::API::Response::Company"},"description":"Salary
        130,000 - 160,000 USD per year Requirements: - You\u2019re a software engineer
        with years of experience and a deep understanding of software engineering
        practices. You have a deep understanding of container technologies such as
        Docker and Kubernetes. Bonus points if you have operated containers in production.
        You\u2019re proficient in Golang. Bonus points if you have written container
        based tooling in Golang. You are proficient with Unix, AWS, and Git. You are
        self-motivated and able to manage you\u2026","salary_is_predicted":"0","redirect_url":"https://www.adzuna.com/land/ad/2611763157?se=tLCmq0287BGb_FUCEt2eFw&utm_medium=api&utm_source=5e859b54&v=0324B497E4391F3B000F084A71D07AA322DAAF85","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoidExDbXEwMjg3QkdiX0ZVQ0V0MmVGdyIsImkiOiIyNjExNzYzMTU3In0.f2z3CxcmjnKUUB5FOrrQXNV3xLlLpiBBC8VD_VxdD3o","__CLASS__":"Adzuna::API::Response::Job","salary_min":130000},{"created":"2022-02-18T18:53:13Z","latitude":37.798085,"contract_type":"contract","salary_max":185040,"longitude":-122.466538,"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"San
        Francisco, California","area":["US","California","San Francisco"]},"category":{"tag":"healthcare-nursing-jobs","label":"Healthcare
        & Nursing Jobs","__CLASS__":"Adzuna::API::Response::Category"},"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Cross
        Country Nurses"},"salary_is_predicted":"0","description":"The benefits of
        taking a travel nursing job with Cross Country Nurses include:  Free Private
        Housing or Generous Housing Allowance  Comprehensive Health Insurance with
        Prescription Coverage  Dependent Health Insurance with Prescription Coverage  Competitive
        Salaries  Referral Bonuses  Travel Reimbursement  Shift Differentials  401(k)
        Retirement Plan  Direct Deposit/Free Checking  Unlimited Free CE Credits MINIMUM
        REQUIREMENTS:  At Least 1 Year of Recent Acute Care Experience  ASN, BSN or
        MSN Re\u2026","id":"2909961189","title":"Registered Nurse - Post Anesthesia
        Care Unit job in San Francisco, CA","redirect_url":"https://www.adzuna.com/land/ad/2909961189?se=tLCmq0287BGb_FUCEt2eFw&utm_medium=api&utm_source=5e859b54&v=9207AF2D121AC7181532F610709EF6AF1EDD5EE9","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjkwOTk2MTE4OSIsInMiOiJ0TENtcTAyODdCR2JfRlVDRXQyZUZ3In0.rtHSuqbhRSFbG25YacGeXgZ_kGFqJm7VpAql4kZWcdI","salary_min":185040,"__CLASS__":"Adzuna::API::Response::Job"},{"redirect_url":"https://www.adzuna.com/land/ad/3004846854?se=tLCmq0287BGb_FUCEt2eFw&utm_medium=api&utm_source=5e859b54&v=32333715B808F9F43494EAB1BBDEC63E0DD8AEAF","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzAwNDg0Njg1NCIsInMiOiJ0TENtcTAyODdCR2JfRlVDRXQyZUZ3In0.AUp6rEekNKzCU2mygscNv8CzcV12OjuK8Xq19VgVYRM","__CLASS__":"Adzuna::API::Response::Job","salary_min":100000,"id":"3004846854","contract_time":"full_time","title":"Software
        Engineer - Data","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Kevala"},"description":"Kevala
        is looking for a Software Engineer with experience in distributed computing
        and big data to join our growing software development team. This individual
        will collaborate across the company to translate project requirements into
        generalized and modular ways of interfacing with all aspects of the electric
        grid: solar power, electric vehicles, energy efficiency, demand response,
        batteries, wholesale markets, and more. If you enjoy collaborating with other
        professionals who believe in acceler\u2026","salary_is_predicted":"0","longitude":-122.466538,"location":{"area":["US","California","San
        Francisco"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"San
        Francisco, California"},"category":{"label":"IT Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":[...]
