---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":203609.81,"results":[{"description":"We specialize in Staffing,
        Consulting, Software Development, and Training along with IT services to small
        to medium size companies. AG''s primary objective is to help companies maximize
        their IT resources and meet the ever-changing IT needs and challenges. In
        addition, AG offers enterprise resource planning and enterprise application
        integration, supply-chain management, e-commerce solutions, and B2B public
        exchanges and B2B process integration solutions. Our company provides application
        analysi\u2026","salary_is_predicted":"0","__CLASS__":"Adzuna::API::Response::Job","id":"2993938665","latitude":38.918677,"longitude":-84.263547,"location":{"area":["US","Kentucky","Campbell
        County","California"],"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County"},"salary_max":288000,"category":{"tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs"},"company":{"display_name":"Atria Group LLC","__CLASS__":"Adzuna::API::Response::Company"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiYWhtVkxRREI3Qkc0bnlCaklBTU83USIsImkiOiIyOTkzOTM4NjY1In0.QA0ZHVspa8IkPwQEEGFUzfquUThIeU8PNLn1Z_fTl5I","created":"2022-03-23T13:21:40Z","salary_min":240000,"redirect_url":"https://www.adzuna.com/land/ad/2993938665?se=ahmVLQDB7BG4nyBjIAMO7Q&utm_medium=api&utm_source=5e859b54&v=6D5E9E0D81CA519ECD872BCCF2590BD8454DEB4C","title":"SQL
        Developer with BI tool Exp."},{"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs","tag":"it-jobs"},"salary_max":288000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjk5Mzk0OTYyNSIsInMiOiJhaG1WTFFEQjdCRzRueUJqSUFNTzdRIn0.5-WhALIFJdtm4xMOUm_umZ1pBFx1npGMP8ChZjQcxnE","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Sarian
        Solutions"},"salary_min":240000,"created":"2022-03-23T13:22:26Z","title":"Sr.
        Core Java Developer","r[...]
