---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":1470,"mean":200184.99,"results":[{"__CLASS__":"Adzuna::API::Response::Job","title":"Small
        Business Relationship Manager, Vice President - Hybrid","company":{"display_name":"MUFG
        Union Bank, N.A.","__CLASS__":"Adzuna::API::Response::Company"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiNHZQNk1yX0I3QkdCMENHSnQ3R1dDZyIsImkiOiIzMDUzODUxNDIzIn0.YeF5YCAY656CzC__bVQi-hwqXFf0anI7b-YLDQflSS0","longitude":-84.263547,"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"created":"2022-04-14T21:44:11Z","salary_min":288000,"description":"Your
        potential. Your opportunity. Are you passionate about creating an exceptional
        client experience? Discover your opportunity with Union Bank\u00ae, a division
        of the Mitsubishi UFJ Financial Group (MUFG), the 5th largest financial group
        in the world. At Union Bank, we have our clients\u2019 best interest in mind
        and draw on more than 160 years of experience to understand their distinct
        needs to tailor our solutions. We\u2019re part of 180,000 colleagues around
        the globe striving to be the world\u2019s most trus\u2026","category":{"tag":"accounting-finance-jobs","label":"Accounting
        & Finance Jobs","__CLASS__":"Adzuna::API::Response::Category"},"salary_is_predicted":"0","salary_max":384000,"id":"3053851423","redirect_url":"https://www.adzuna.com/land/ad/3053851423?se=4vP6Mr_B7BGB0CGJt7GWCg&utm_medium=api&utm_source=5e859b54&v=A6EABB321107306E95F0BA0ADDE8196B6D2F1A67","latitude":38.918677},{"__CLASS__":"Adzuna::API::Response::Job","longitude":-84.263547,"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"krg
        technology inc"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjk5MzkzNzkwNCIsInMiOiI0dlA2TXJfQjdCR0IwQ0dKdDdHV0NnIn0.8Vrqyczi-AG7QJueTUtvU-aMrACGjYXiIIZYk_XbHxM","title":"Android
        / IOS Developer","salary_min":240000,"description":"Level of Supervision:
        bug fixes will be reviewed; must be able to work autonomously in most cases,
[...]
