---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&what=Backend%20Developer&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":264000,"count":10,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"id":"2722725024","latitude":38.918677,"description":"We
        are seeking a highly skilled engineer to join the cloud and data center infrastructure
        team with at least 5 years of systems development, deployment, and related
        operations experience. The candidate must have experience with distributed
        systems, open source development, agile development methods, CI/CD, and devops
        Job Description Required: \u2022 Bachelor''s degree in Computer Science or
        equivalent. \u2022 Practical design, development and deployment experience
        with evolving existing designs towards la\u2026","title":"Java Backend Developer","longitude":-84.263547,"company":{"display_name":"samsung","__CLASS__":"Adzuna::API::Response::Company"},"created":"2021-12-09T01:35:16Z","salary_is_predicted":"0","salary_min":288000,"__CLASS__":"Adzuna::API::Response::Job","category":{"tag":"it-jobs","label":"IT
        Jobs","__CLASS__":"Adzuna::API::Response::Category"},"location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"redirect_url":"https://www.adzuna.com/land/ad/2722725024?se=Ks923_XL7BGqv1Cht7GWCg&utm_medium=api&utm_source=5e859b54&v=C3D7C7D559DFEC7183801FFE7647A60008EFA5A9","salary_max":384000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiS3M5MjNfWEw3QkdxdjFDaHQ3R1dDZyIsImkiOiIyNzIyNzI1MDI0In0.9K_3W8Di1i95sRUYmQGCIsdvx7wMQGD0uVVsWO-VuNo"},{"salary_max":384000,"created":"2021-12-09T01:31:10Z","title":"Core
        Java Developer/BE","longitude":-84.263547,"company":{"display_name":"EROS
        Technologies Inc.","__CLASS__":"Adzuna::API::Response::Company"},"salary_min":288000,"latitude":38.918677,"contract_time":"full_time","redirect_url":"https://www.adzuna.com/land/ad/2722703956?se=Ks923_XL7BGqv1Cht7GWCg&utm_medium=api&utm_source=5e859b54&v=2EA5FA4DF6AF34628C6556496F05306AC638D7D0","location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjcyMjcwMzk1NiIsInMiOiJLczkyM19YTDdCR3F2MUNodDdHV0NnIn0.CYibLqw4BZ453DvoHy10n3ZeJ8elkQA86CI6wP8hMto","__CLASS__":"Adzun[...]
