---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&what=Backend%20Developer&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":11,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"created":"2021-12-09T01:35:16Z","salary_min":288000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjcyMjcyNTAyNCIsInMiOiI3RVN4bTJqRzdCR0FtZWVFdDdHV0NnIn0.o2fvb3exukb-P5VZOBFOQHxZuvp5DhcALLZ6uLozs8A","id":"2722725024","salary_is_predicted":"0","salary_max":384000,"longitude":-84.263547,"__CLASS__":"Adzuna::API::Response::Job","category":{"tag":"it-jobs","label":"IT
        Jobs","__CLASS__":"Adzuna::API::Response::Category"},"redirect_url":"https://www.adzuna.com/land/ad/2722725024?se=7ESxm2jG7BGAmeeEt7GWCg&utm_medium=api&utm_source=5e859b54&v=C3D7C7D559DFEC7183801FFE7647A60008EFA5A9","latitude":38.918677,"title":"Java
        Backend Developer","company":{"display_name":"samsung","__CLASS__":"Adzuna::API::Response::Company"},"description":"We
        are seeking a highly skilled engineer to join the cloud and data center infrastructure
        team with at least 5 years of systems development, deployment, and related
        operations experience. The candidate must have experience with distributed
        systems, open source development, agile development methods, CI/CD, and devops
        Job Description Required: \u2022 Bachelor''s degree in Computer Science or
        equivalent. \u2022 Practical design, development and deployment experience
        with evolving existing designs towards la\u2026","location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"}},{"location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"]},"description":"EROS
        Technologies was founded with a simple motive of offering the clients exactly
        what they want, how they want and when they want it. By leveraging for its
        clients its technological edge and right-sourcing advantage, EROS in a short
        period of time has grown to become one of the most trusted strategic technology
        partners. Treating every client as the top priority, we customize our solutions
        and services to align with the unique needs of each client. Job Description
        No of positions: 4 Location:\u2026","contract_time":"full_time","title":"Core
        Java Developer/BE","category":{"__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs","tag":"it-jobs"},"redirect_url":"https://www.adzuna.com/land/ad/2722703956?se=7ESxm2jG7BGAmeeEt7GWCg&utm_medium=api&utm_source=5e859b54&v=2EA5FA4DF6AF34628C6556496F05306AC638D7D0","__CLASS__":"Adzuna::API::Response::Job","longitude":-84.263547,"salary_is_predicted":"0","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjcyMjcwMzk1NiIsInMiOiI3RVN4bTJqRzdCR0FtZWVFdDdHV0NnIn0[...]
