---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&what=Backend%20Developer&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"company":{"display_name":"samsung","__CLASS__":"Adzuna::API::Response::Company"},"salary_is_predicted":"0","category":{"__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs","tag":"it-jobs"},"created":"2021-12-09T01:35:16Z","__CLASS__":"Adzuna::API::Response::Job","longitude":-84.263547,"latitude":38.918677,"redirect_url":"https://www.adzuna.com/land/ad/2722725024?se=7AkyoL7L7BGK3-Lsd04pBg&utm_medium=api&utm_source=5e859b54&v=C3D7C7D559DFEC7183801FFE7647A60008EFA5A9","location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"id":"2722725024","description":"We
        are seeking a highly skilled engineer to join the cloud and data center infrastructure
        team with at least 5 years of systems development, deployment, and related
        operations experience. The candidate must have experience with distributed
        systems, open source development, agile development methods, CI/CD, and devops
        Job Description Required: \u2022 Bachelor''s degree in Computer Science or
        equivalent. \u2022 Practical design, development and deployment experience
        with evolving existing designs towards la\u2026","salary_min":288000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjcyMjcyNTAyNCIsInMiOiI3QWt5b0w3TDdCR0szLUxzZDA0cEJnIn0.LuG8EmTRUJUKcHs0_IfdRh7CRn2qvE4vSPK8jQceDTc","title":"Java
        Backend Developer","salary_max":384000},{"category":{"tag":"it-jobs","label":"IT
        Jobs","__CLASS__":"Adzuna::API::Response::Category"},"redirect_url":"https://www.adzuna.com/land/ad/2722703956?se=7AkyoL7L7BGK3-Lsd04pBg&utm_medium=api&utm_source=5e859b54&v=2EA5FA4DF6AF34628C6556496F05306AC638D7D0","contract_time":"full_time","id":"2722703956","location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"__CLASS__":"Adzuna::API::Response::Job","created":"2021-12-09T01:31:10Z","salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"EROS
        Technologies Inc."},"latitude":38.918677,"longitude":-84.263547,"title":"Core
        Java Developer/BE","adref":"eyJ[...]
