---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=app_key&location0=us&location1=california&location2=san%20francisco&salary_max=200000&salary_min=100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":148963.99,"count":492,"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Layer1
        Technologies"},"id":"2844213317","salary_max":160000,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjg0NDIxMzMxNyIsInMiOiJibjdpSWtXODdCR2dCeFZGSUFNTzdRIn0.Y8ZEbt_76-ayGK_gQNxRzVQ7De7GKaw4fqT4eNGHhNw","salary_is_predicted":"0","category":{"tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs"},"longitude":-122.441408,"redirect_url":"https://www.adzuna.com/land/ad/2844213317?se=bn7iIkW87BGgBxVFIAMO7Q&utm_medium=api&utm_source=5e859b54&v=BF9668CE5FF29CD456CD0952C90E8AC7569EBC86","__CLASS__":"Adzuna::API::Response::Job","description":"You
        will be working directly alongside Layer1''s engineering leadership, so this
        role comes with significant autonomy and responsibility. We are deeply involved
        with a Rust-based coin with interactive transaction construction. As Applied
        Cryptography Engineer at Layer1, you will: Contribute to the project''s general
        open-source protocol development Write advanced software tooling to interface
        with and analyze the protocol network Explore and implement Confidential Assets
        Build Critical infrastruc\u2026","title":"Applied Cryptography Engineer (Rust)","contract_type":"permanent","location":{"__CLASS__":"Adzuna::API::Response::Location","area":["US","California","San
        Francisco","Panhandle"],"display_name":"Panhandle, San Francisco"},"created":"2022-01-26T06:40:24Z","salary_min":120000,"latitude":37.770051},{"contract_time":"full_time","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Rainforest
        Action Network"},"salary_max":120000,"id":"2866225548","category":{"tag":"admin-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"Admin
        Jobs"},"salary_is_predicted":"0","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjg2NjIyNTU0OCIsInMiOiJibjdpSWtXODdCR2dCeFZGSUFNTzdRIn0.jsTYIlqwvvJ6Y4w6PAZdpLoeP25i9pW9NPtKFW7Nq3g","description":"ABOUT
        RAN For more than 30 years, Rainforest Ac[...]
