---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=10000&what=Backend%20Developer&where=california
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"location":{"display_name":"California,
        Campbell County","area":["US","Kentucky","Campbell County","California"],"__CLASS__":"Adzuna::API::Response::Location"},"id":"2722725024","salary_min":288000,"description":"We
        are seeking a highly skilled engineer to join the cloud and data center infrastructure
        team with at least 5 years of systems development, deployment, and related
        operations experience. The candidate must have experience with distributed
        systems, open source development, agile development methods, CI/CD, and devops
        Job Description Required: \u2022 Bachelor''s degree in Computer Science or
        equivalent. \u2022 Practical design, development and deployment experience
        with evolving existing designs towards la\u2026","salary_max":384000,"title":"Java
        Backend Developer","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiRWlzQXhmZkw3QkdLMy1Mc2QwNHBCZyIsImkiOiIyNzIyNzI1MDI0In0.t0LkKwQiiANE80clxH2naCohO4CHAzvOHEdHBGvgY_A","category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"it-jobs","label":"IT
        Jobs"},"created":"2021-12-09T01:35:16Z","__CLASS__":"Adzuna::API::Response::Job","company":{"display_name":"samsung","__CLASS__":"Adzuna::API::Response::Company"},"salary_is_predicted":"0","redirect_url":"https://www.adzuna.com/land/ad/2722725024?se=EisAxffL7BGK3-Lsd04pBg&utm_medium=api&utm_source=5e859b54&v=C3D7C7D559DFEC7183801FFE7647A60008EFA5A9","longitude":-84.263547,"latitude":38.918677},{"salary_min":288000,"description":"EROS
        Technologies was founded with a simple motive of offering the clients exactly
        what they want, how they want and when they want it. By leveraging for its
        clients its technological edge and right-sourcing advantage, EROS in a short
        period of time has grown to become one of the most trusted strategic technology
        partners. Treating every client as the top priority, we customize our solutions
        and servic[...]
