---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"it-jobs","label":"IT
        Jobs"},"contract_type":"permanent","salary_max":180000,"created":"2021-11-25T03:01:05Z","location":{"display_name":"Draper,
        Salt Lake County","__CLASS__":"Adzuna::API::Response::Location","area":["US","Utah","Salt
        Lake County","Draper"]},"redirect_url":"https://www.adzuna.com/land/ad/2678592004?se=0t_BLADB7BGN22UsGHPMqw&utm_medium=api&utm_source=5e859b54&v=6984782E7161900D24550B8104C9B8BBF43DCFD7","description":"Nav
        is democratizing small business financing. In other words, we give small business
        owners access and control. Yes, this challenges the norm, but it means working
        with curious, purpose driven, dedicated, and inquisitively smart people who
        push themselves, our company and the community to the next level (and every
        level after that). We are the people behind the tech. And when it\u2019s good,
        we look for better. We don\u2019t over think the value we bring nor spend
        time trying to revamp mantras. We also \u2026","__CLASS__":"Adzuna::API::Response::Job","longitude":-111.8692,"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Nav"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiMHRfQkxBREI3QkdOMjJVc0dIUE1xdyIsImkiOiIyNjc4NTkyMDA0In0.ZUnv7D6YI190-dAutMVLiKe03vqtIxHqXzO5Z3jzK9U","salary_is_predicted":"0","title":"Principal/Senior
        Staff Backend Engineer - Remote Within In The US or In Office (PA, UT, CA)","id":"2678592004","latitude":40.5081,"salary_min":165000},{"contract_time":"part_time","salary_min":38400,"latitude":43.076108,"id":"3048834212","title":"Independent
        Delivery Driver","salary_is_predicted":"0","company":{"display_name":"goPuff","__CLASS__":"Adzuna::API::Response::Company"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiMHRfQkxBREI3QkdOMjJVc0dIUE1xdyIsImkiOiIzMDQ4ODM0MjEyIn0.MpxqVcWLHVU8q6Rs6C3OpFxhM3f9lUViVtbeXk9VV2Q","longitude":-89.199559,"description":"goPuff
        is currently looking for delivery partners for goDrive, an app that connects
        [...]
