---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"location":{"display_name":"Washington, D.C., US","area":["US","Washington,
        D.C."],"__CLASS__":"Adzuna::API::Response::Location"},"id":"2953023393","redirect_url":"https://www.adzuna.com/land/ad/2953023393?se=mBn8T4TB7BGbA_A_Wh1rng&utm_medium=api&utm_source=5e859b54&v=10686056B334E224AD630C0F824BB6619A9864F0","created":"2022-03-07T14:18:41Z","salary_max":140000,"company":{"display_name":"Ethyca","__CLASS__":"Adzuna::API::Response::Company"},"title":"Remote
        Senior Implementations Engineer","latitude":38.807342,"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs","tag":"it-jobs"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoibUJuOFQ0VEI3QkdiQV9BX1doMXJuZyIsImkiOiIyOTUzMDIzMzkzIn0._c30HmzzCgBK_IKoGQgIoAJMMVrJsl-mc-ClY0jJuls","longitude":-78.117901,"contract_type":"permanent","__CLASS__":"Adzuna::API::Response::Job","salary_is_predicted":"0","salary_min":100000,"description":"Ethyca
        is a high-growth Series A remote startup on a mission to make Trust, Respect
        and Privacy a default feature of every tech stack. To accomplish this, we
        created the Fides open source language for data privacy and its related suite
        of free developer tools to enforce privacy policies as code, automate users\u2019
        right to access and erase their data, and much more. We believe software engineers
        are uniquely equipped to solve modern privacy challenges, but only if we work
        together on shared standa\u2026"},{"salary_max":74150,"created":"2021-10-27T13:37:51Z","title":"Postal
        Clerk","contract_time":"full_time","company":{"display_name":"USA Labor Services","__CLASS__":"Adzuna::API::Response::Company"},"location":{"__CLASS__":"Adzuna::API::Response::Location","area":["US","Arizona","Graham
        County","Safford"],"display_name":"Safford, Graham County"},"redirect_url":"https://www.adzuna.com/land/ad/2584003939?se=mBn8T4TB7BGbA_A_Wh1rng&utm_medium=api&utm_source=5e859b54&v=256A7DD46706DA4E07FC76C15DC0DDF065B2C8E4","id":"2584003939","longitude":-109.70758,"description":"NO
        EXPERIEN[...]
