---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min&where=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"location":{"area":["US","Colorado","Denver"],"display_name":"Denver,
        Colorado","__CLASS__":"Adzuna::API::Response::Location"},"salary_min":288000,"title":"Advanced
        Analytics - Lead Analyst","__CLASS__":"Adzuna::API::Response::Job","category":{"__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs","tag":"it-jobs"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzA3OTEwMzI1NiIsInMiOiJ5QUNOYjJmRzdCR1RBN2ZlZDA0cEJnIn0.PDiZsd4bFexHe_tkECDCARqspkrMcaebVAuTX1n3htk","id":"3079103256","latitude":39.75,"salary_is_predicted":"0","salary_max":384000,"longitude":-104.99,"redirect_url":"https://www.adzuna.com/land/ad/3079103256?se=yACNb2fG7BGTA7fed04pBg&utm_medium=api&utm_source=5e859b54&v=DD9AA754B81B4C5F1FD93A559F489C29EF679C01","description":"Merkle
        is a global data-driven, technology-enabled performance marketing agency and
        the largest independent agency in the US for CRM, digital, and search. For
        more than 28 years, Fortune 1000 companies and leading nonprofit organizations
        have partnered with us to build and maximize the value of their customer portfolios.
        We work with brands like Dell, T-Mobile, Samsung, Geico, Regions, Kimberly-Clark,
        AARP, Lilly, Sanofi, NBC Universal, DIRECTV, American Cancer Society, Susan
        G. Komen, and many\u2026","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Merkle"},"created":"2022-04-25T21:52:28Z"},{"title":"Senior
        Software Engineer- Database Reliability (Remote US)","salary_min":240000,"location":{"area":["US","Colorado","Denver"],"display_name":"Denver,
        Colorado","__CLASS__":"Adzuna::API::Response::Location"},"__CLASS__":"Adzuna::API::Response::Job","category":{"label":"IT
        Jobs","tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category"},"salary_max":288000,"salary_is_predicted":"0","latitude":39.75,"id":"3072870181","adref":"eyJhbGciOiJ[...]
