---
http_interactions:
- request:
    method: get

    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where

    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:

      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8

      Connection:
      - keep-alive
      Server:
      - nginx/1.14.0 (Ubuntu)

      Vary:
      - Content-Type
      Access-Control-Allow-Headers:
      - Origin, X-Requested-With, Content-Type, Accept
      Access-Control-Allow-Origin:
      - "*"
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"2845440490","salary_max":200000,"company":{"display_name":"Digital
        Asset","__CLASS__":"Adzuna::API::Response::Company"},"location":{"display_name":"Quentin,
        County","area":["US","Pennsylvania","County","Quentin"],"__CLASS__":"Adzuna::API::Response::Location"},"salary_min":140000,"created":"2022-01-26T17:53:10Z","latitude":40.713515,"title":"Senior
        Software Engineer - REMOTE","contract_type":"permanent","longitude":-74.008038,"redirect_url":"https://www.adzuna.com/land/ad/2845440490?se=PMugWNa87BGgBxVFIAMO7Q&utm_medium=api&utm_source=5e859b54&v=6D88A6B5F37F1B5D30CBFD21D379F0BD7D9AB902","__CLASS__":"Adzuna::API::Response::Job","description":"About
        Digital Asset Digital Asset is a leading provider of distributed ledger technology
        (DLT) that solves real-world business challenges. We combine deep industry
        expertise with scalable technology, including a distributed ledger platform
        and an intuitive smart contract language originally developed by Digital Asset,
        called DAML. Digital Asset enables financial institutions and organizations
        across a variety of industries to bring efficient, modern and scalable DLT
        systems into production. We \u2026","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjg0NTQ0MDQ5MCIsInMiOiJQTXVnV05hODdCR2dCeFZGSUFNTzdRIn0.rRNbwT2I5z8rLY9iCcGam1yKzLP52qCF3-pH3vgdx9s","salary_is_predicted":"0","category":{"label":"IT
        Jobs","tag":"it-jobs","__CLASS__":"Adzuna::API::Response::Category"}},{"contract_time":"part_time","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Kango"},"id":"3017552697","salary_max":69120,"category":{"label":"Travel
        Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"travel-jobs"},"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiUE11Z1dOYTg3QkdnQnhWRklBTU83USIsImkiOiIzMDE3NTUyNjk3In0.sVtKNB30756MXJ_DehVjrpNtZ3nUgKUe_8DnmiqnXFs","salary_is_predicted":"0","__CLASS__":"Adzuna::API::Response::Job","description":"Kango
        is an app-based childcare a[...]
