---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min&where=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"__CLASS__":"Adzuna::API::Response::JobSearchResults","results":[{"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiR21RcXdfZkw3QkdLMy1Mc2QwNHBCZyIsImkiOiIzMDcyODcwOTg1In0.Wbs26NtUsVfqKxltCAa9C6V6q1azma7UMK6PTwiSOqo","title":"Senior
        Chemist","salary_max":384000,"description":"CPS, Inc. http://www.cps4jobs.com
        http://www.cps4jobs.com USD 120000 160000 YEAR true Senior Chemist Denver
        , CO Posted: 04/19/2022 2022-04-19 2022-06-30 Industry: Laboratory - Industrial
        Chemicals Job Number: 666.22AM Pay Rate: 120,000 - 160,000 Experience: Job
        Description Senior Chemist This is primarily a bench formulation position
        focusing on the development of electronics insulation technology. However,
        it is a small company and there will also be interaction with sales, manufacturing
        supp\u2026","salary_min":288000,"location":{"display_name":"Denver, Colorado","area":["US","Colorado","Denver"],"__CLASS__":"Adzuna::API::Response::Location"},"id":"3072870985","latitude":39.75,"longitude":-104.99,"redirect_url":"https://www.adzuna.com/land/ad/3072870985?se=GmQqw_fL7BGK3-Lsd04pBg&utm_medium=api&utm_source=5e859b54&v=E36B39A864A39E7F186A9EFD3CCEF95E85DE6004","salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"CPS
        Inc"},"__CLASS__":"Adzuna::API::Response::Job","category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"manufacturing-jobs","label":"Manufacturing
        Jobs"},"created":"2022-04-22T21:51:56Z"},{"__CLASS__":"Adzuna::API::Response::Job","category":{"label":"Accounting
        & Finance Jobs","tag":"accounting-finance-jobs","__CLASS__":"Adzuna::API::Response::Category"},"created":"2022-01-18T03:23:04Z","salary_is_predicted":"0","company":{"display_name":"Redwood
        Trust, Inc.","__CLASS__":"Adzuna::API::Response::Company"},"redirect_url":"https://www.adzuna.com/land/ad/2822371197?se=GmQqw_fL7BGK3-Lsd04pBg&utm_medium=api&utm_source=5e859b54&v=AECB1AB18CB7C6289[...]
