---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":263022,"results":[{"salary_min":14400,"__CLASS__":"Adzuna::API::Response::Job","redirect_url":"https://www.adzuna.com/land/ad/3011100906?se=GGWFpjW_7BGb_FUCEt2eFw&utm_medium=api&utm_source=5e859b54&v=4614B46B38A3DD485907A703248EF2246D322A76","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiR0dXRnBqV183QkdiX0ZVQ0V0MmVGdyIsImkiOiIzMDExMTAwOTA2In0.mhfWHs3_jjgRNnrbRZYVRKSaPDorQ5zITTGQi-79U2s","title":"Food
        delivery driver","contract_time":"part_time","id":"3011100906","description":"Do
        you have a car, scooter or motorcycle? Do you know Holyoke, MA like the back
        of your hand? Then get paid good money just for delivering delicious food
        to hungry locals whenever you have some spare time. DoorDash lets you decide
        when you want to work. That\u2019s why hundreds of people are choosing to
        become Dashers every week - as a Dasher, you will deliver food from restaurants
        to homes and offices. Dashers don\u2019t have bosses They decide when they
        want to work and how they want to work themselves\u2026","salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"DoorDash"},"category":{"tag":"logistics-warehouse-jobs","__CLASS__":"Adzuna::API::Response::Category","label":"Logistics
        & Warehouse Jobs"},"longitude":-72.640474,"location":{"area":["US","Massachusetts","Hampden
        County","Holyoke"],"display_name":"Holyoke, Hampden County","__CLASS__":"Adzuna::API::Response::Location"},"contract_type":"contract","salary_max":14400,"created":"2022-03-30T20:09:38Z","latitude":42.222692},{"created":"2022-01-20T16:00:50Z","latitude":34.09386,"contract_type":"permanent","salary_max":160000,"longitude":-118.38012,"location":{"display_name":"Briggs,
        Los Angeles County","__CLASS__":"Adzuna::API::Response::Location","area":["US","California","Los
        Angeles County","Briggs"]},"category":{"tag":"it-jobs","label":"IT Jobs","__CLASS__":"Adzuna::API::Response::Category"},"company":{"display_name":"AvantStay","__CLASS__":"Adzuna::API::Response::Company"},"salary_is_[...]
