---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min&where=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"__CLASS__":"Adzuna::API::Response::Job","location":{"area":["US","Colorado","Denver"],"display_name":"Denver,
        Colorado","__CLASS__":"Adzuna::API::Response::Location"},"salary_max":86400,"adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiU0ExMXJKckk3QkdCRkV4ZHQ3R1dDZyIsImkiOiIyOTExODI5NjQ0In0.2s-3xP8Renh2yUAFtmI7h4-Q1YDi_0YnTi6XZdr2Gew","longitude":-104.99,"category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"trade-construction-jobs","label":"Trade
        & Construction Jobs"},"salary_min":86400,"salary_is_predicted":"0","latitude":39.75,"title":"Vaccination
        Support RN''s Needed Throughout CO","company":{"display_name":"Comcentric
        Inc.","__CLASS__":"Adzuna::API::Response::Company"},"redirect_url":"https://www.adzuna.com/land/ad/2911829644?se=SA11rJrI7BGBFExdt7GWCg&utm_medium=api&utm_source=5e859b54&v=4708F00E6D61A64CFD4ED39706609E4803D0D90C","description":"We
        are seeking Registered Nurses to assist with the vaccination initiative throughout
        CO Flexible dates and multiple shifts available (3 hour \u2013 8 hour) Multiple
        locations spanning from Colorado Springs to Boulder $45/hr Must have active
        RN license in Colorado in good standing, Active BLS card, and received at
        least 1 vaccination. If qualified, interested, and available (or know of somebody
        who is), reply with an updated resume, preferred location, and available start
        date for immediate consider\u2026","id":"2911829644","created":"2022-02-19T19:51:08Z"},{"contract_type":"contract","redirect_url":"https://www.adzuna.com/land/ad/3084411129?se=SA11rJrI7BGBFExdt7GWCg&utm_medium=api&utm_source=5e859b54&v=43783FA071FFF399144923C7FF7ABABFE9647FF7","salary_max":77280,"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"Healthcare
        & Nursing Jobs","tag":"healthcare-nursing-jobs"},"id":"3084411129","created":"2022-04-27T18:28:00Z","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Host
        Healthcare"},"description":"HOST HEA[...]
