---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min=1&where
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":264633,"__CLASS__":"Adzuna::API::Response::JobSearchResults","mean":94896.28,"results":[{"redirect_url":"https://www.adzuna.com/land/ad/3066412975?se=IiNt04jB7BGP_jr6d04pBg&utm_medium=api&utm_source=5e859b54&v=6602DD97F1E721D63D3A93B850361544F5D8BEE1","salary_min":28800,"latitude":38.827109,"__CLASS__":"Adzuna::API::Response::Job","contract_type":"permanent","id":"3066412975","title":"Appointment
        Setter - Sales - Marketing","contract_time":"part_time","category":{"label":"PR,
        Advertising & Marketing Jobs","tag":"pr-advertising-marketing-jobs","__CLASS__":"Adzuna::API::Response::Category"},"company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Renewal
        by Andersen of KC"},"longitude":-94.789873,"salary_is_predicted":"0","created":"2022-04-20T16:26:52Z","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiSWlOdDA0akI3QkdQX2pyNmQwNHBCZyIsImkiOiIzMDY2NDEyOTc1In0.G2YnUUb9NS7i3tGtDlHvMmMFxgink8emVHTqiE9nILo","location":{"__CLASS__":"Adzuna::API::Response::Location","display_name":"Overland
        Park, Johnson County","area":["US","Kansas","Johnson County","Overland Park"]},"description":"Apply
        NOW $1,000 sign on bonus for all qualified candidates Renewal by Andersen
        is looking for Brand Ambassador candidates to join our Direct Marketing team
        Our Brand Ambassadors work at trade shows, festivals, fairs, sporting events,
        malls, retail stores, and some do residential marketing. Brand Ambassadors
        enjoy a challenging and fun work environment where they make great first impressions,
        have engaging conversations, and set appointments for Kansas City homeowners
        to receive no cost consult\u2026","salary_max":67200},{"contract_type":"permanent","id":"2610446014","title":"DevOps
        Engineeer","__CLASS__":"Adzuna::API::Response::Job","latitude":38.807342,"redirect_url":"https://www.adzuna.com/land/ad/2610446014?se=IiNt04jB7BGP_jr6d04pBg&utm_medium=api&utm_source=5e859b54&v=3CDF96AF97E22C9591B336F96050AA691A299094","salary_min":70000,"description":"Droit
        is a technology company at the forefront of merging finance and computational
        law. We build software that digitizes regulations an[...]
