---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min&where=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
<<<<<<< HEAD
      - Thu, 21 Apr 2022 22:05:45 GMT
      Content-Type:
      - application/json; charset=utf8
      Content-Length:
      - '73259'
=======
      - Wed, 04 May 2022 15:26:50 GMT
      Content-Type:
      - application/json; charset=utf8
      Content-Length:
      - '69167'
>>>>>>> fc85f3f763c1216218f60bc60061f301582bfaf7
      Connection:
      - keep-alive
      Server:
      - nginx/1.14.0 (Ubuntu)
      Vary:
      - Content-Type
      Access-Control-Allow-Headers:
      - Origin, X-Requested-With, Content-Type, Accept
      Access-Control-Allow-Origin:
      - "*"
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: '{"results":[{"contract_time":"full_time","company":{"display_name":"USA
        Labor Services","__CLASS__":"Adzuna::API::Response::Company"},"longitude":-83.290343,"description":"NO
        EXPERIENCE REQUIRED \u2013 PAID TRAINING PROVIDED \u2013 JOB SECURITY The
        Postal Service is the largest government related agency in terms of employees.
        The Postal Service currently employs nearly 1 million people and is hiring
        nationwide. There is NO experience required, paid training is provided for
        all job openings. There are MANY different positions available. The job openings
        range in starting salary from $21.94 to $38.65 per hour, $72,400/year average
        pay with full benefits. Benefits include pai\u2026","salary_min":41740,"redirect_url":"https://www.adzuna.com/land/ad/2362838809?se=KKBuMb_B7BGB0CGJt7GWCg&utm_medium=api&utm_source=5e859b54&v=1BB6F24FD2530D28011F825A94BACCB7AE957C5E","latitude":42.668599,"__CLASS__":"Adzuna::API::Response::Job","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjM2MjgzODgwOSIsInMiOiJLS0J1TWJfQjdCR0IwQ0dKdDdHV0NnIn0.tf7jQkkZMuNxkPdP0hbStGxMCT9YoR4w8G4QuukI7o4","contract_type":"permanent","title":"Postal
        Clerk","created":"2021-08-05T11:51:38Z","location":{"display_name":"Pontiac,
        Oakland County","area":["US","Michigan","Oakland County","Pontiac"],"__CLASS__":"Adzuna::API::Response::Location"},"id":"2362838809","category":{"label":"Admin
        Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"admin-jobs"},"salary_max":74150,"salary_is_predicted":"0"},{"title":"Postal
        Clerk","contract_type":"permanent","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMjU4NDAwNDM0MCIsInMiOiJLS0J1TWJfQjdCR0IwQ0dKdDdHV0NnIn0.UxdXf9V20XGUzVDK__ahjeY1U_8Av_h9E9D-WWH50eU","__CLASS__":"Adzuna::API::Response::Job","salary_is_predicted":"0","salary_max":74150,"category":{"label":"Admin
        Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"admin-jobs"},"id":"2584004340","created":"2021-10-27T13:37:58Z","location":{"__CLASS__":"Adzuna::API::Response::Loca[...]
