---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&location0=us&location1=colorado&location2=denver&salary_max=200000&salary_min=100000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"count":283,"results":[{"longitude":-104.99,"redirect_url":"https://www.adzuna.com/land/ad/2747405406?se=TjZQq0287BGhBIQLGHPMqw&utm_medium=api&utm_source=5e859b54&v=9853ED85210E65BC84E3F5DFCA52D377BF0AB476","latitude":39.75,"description":"See
        yourself at Twilio Join the team as our next Staff Security Engineer, Threat
        Hunt & Research. Who we are & why we\u2019re hiring Twilio powers real-time
        business communications and data solutions that help companies and developers
        worldwide build better applications and customer experiences. Although we''re
        headquartered in San Francisco, we''re on a journey to becoming a globally
        antiracist company that supports diversity, equity & inclusion wherever we
        do business. We employ thousands of Twilion\u2026","salary_min":116312,"contract_time":"full_time","title":"Staff
        Security Engineer, Threat Hunt & Research","location":{"display_name":"Denver,
        Colorado","area":["US","Colorado","Denver"],"__CLASS__":"Adzuna::API::Response::Location"},"category":{"__CLASS__":"Adzuna::API::Response::Category","label":"IT
        Jobs","tag":"it-jobs"},"created":"2021-12-17T09:01:05Z","__CLASS__":"Adzuna::API::Response::Job","salary_max":182276,"salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Twilio"},"id":"2747405406","adref":"eyJhbGciOiJIUzI1NiJ9.eyJzIjoiVGpaUXEwMjg3QkdoQklRTEdIUE1xdyIsImkiOiIyNzQ3NDA1NDA2In0.TjbAH-Lhgx8c-j9GtsIa1vbIWAhhg4HbTS4QofYoMqs"},{"location":{"__CLASS__":"Adzuna::API::Response::Location","area":["US","Colorado","Denver"],"display_name":"Denver,
        Colorado"},"company":{"display_name":"A R Systems Inc.,","__CLASS__":"Adzuna::API::Response::Company"},"id":"3036243167","salary_is_predicted":"0","description":"Job
        Title: CPQ Dev/Admin Location: Onsite(Denver, Colorado) Duration: Long term
        Visa''s: GC, GC-EAD, H4-EAD, USC Skills Required : - The project is looking
        for a CPQ Dev/Admin onsite in Denver, with 2-3 years of experience (Salesforce
        Steebricks experience-70% Admin, 30% Dev).","salary_min":172800,"title":"CPQ
        Dev/Admin","salary_max":172800,"longitude":-104.9932,"latitude":39.7489,"redirect_url":"https://www.adzuna.com/land/ad/3036243167?se=TjZQq0287BGhBIQLGHPMqw&utm_medium[...]
