---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=app_key&location0=us&location1=colorado&location2=denver&results_per_page=50&salary_max=10000000&salary_min=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"results":[{"adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzAyMzcyNDI3NCIsInMiOiJDQnJVUUV1ODdCR2hCSVFMR0hQTXF3In0.FiYfASabcWbucVYjX9FviVgL5u_nelEFwUi9w-bodV0","salary_max":250,"salary_is_predicted":"0","company":{"__CLASS__":"Adzuna::API::Response::Company","display_name":"Arrow
        Electronics"},"id":"3023724274","created":"2022-04-03T21:32:30Z","category":{"label":"Accounting
        & Finance Jobs","__CLASS__":"Adzuna::API::Response::Category","tag":"accounting-finance-jobs"},"__CLASS__":"Adzuna::API::Response::Job","latitude":39.75,"redirect_url":"https://www.adzuna.com/land/ad/3023724274?se=CBrUQEu87BGhBIQLGHPMqw&utm_medium=api&utm_source=5e859b54&v=5D5A4BF9729D812354775D68A0FA57C5A92AD045","longitude":-104.99,"title":"Director
        Financial Services - Credit & Collections","contract_time":"full_time","salary_min":200,"description":"Director
        Financial Services - Credit & Collections Position: Director Financial Services
        - Credit & Collections Job Description: We have an excellent opportunity for
        a Director Financial Services, in our Centennial, CO location. This position
        provides strategic direction to a team responsible for managing the Americas
        receivable portfolio. This team provides expertise in leveraging financial
        options that assist our customers to grow revenue. The ideal candidate will
        be a team player with strong\u2026","location":{"display_name":"Denver, Colorado","__CLASS__":"Adzuna::API::Response::Location","area":["US","Colorado","Denver"]}},{"location":{"__CLASS__":"Adzuna::API::Response::Location","area":["US","Colorado","Denver"],"display_name":"Denver,
        Colorado"},"description":"We are seeking Registered Nurses to assist with
        the vaccination initiative throughout CO Flexible dates and multiple shifts
        available (3 hour \u2013 8 hour) Multiple locations spanning from Colorado
        Springs to Boulder $45/hr Must have active RN license in Colorado in good
        standing, Activ[...]
