---
http_interactions:
- request:
    method: get
    uri: https://api.adzuna.com/v1/api/jobs/us/search/1?app_id=5e859b54&app_key=9b7837242edf32ddec42da936025659e&results_per_page=50&salary_max=10000000&salary_min&where=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Catalyst:
      - '5.90117'
    body:
      encoding: UTF-8
      string: '{"mean":107567.67,"results":[{"salary_max":384000,"title":"Senior Manager,
        Customer Success Operations","adref":"eyJhbGciOiJIUzI1NiJ9.eyJpIjoiMzA4NDg3OTYwMSIsInMiOiJzRUhwM2ZYTDdCR0szLUxzZDA0cEJnIn0.s-IX-5rOlNrQHRNHVlUesVfI_e7oX62Pgs_AAxIaz1I","salary_min":288000,"description":"Our
        Mission and Opportunity Early education is one of the greatest determinants
        of childhood outcomes, is a must for working families, and has lasting social
        and economic impact. Brightwheel\u2019s vision is to enable high quality early
        education for every child \u2014 by giving teachers meaningfully more time
        with students each day, engaging parents in the development of their kids,
        and supporting the small businesses that make up the backbone of the $100
        billion early education market. Brightwheel is t\u2026","id":"3084879601","location":{"display_name":"Denver,
        Colorado","area":["US","Colorado","Denver"],"__CLASS__":"Adzuna::API::Response::Location"},"redirect_url":"https://www.adzuna.com/land/ad/3084879601?se=sEHp3fXL7BGK3-Lsd04pBg&utm_medium=api&utm_source=5e859b54&v=7990AC3F6ABB72EB3E1DC489576454571C9AB68E","latitude":39.75,"longitude":-104.99,"__CLASS__":"Adzuna::API::Response::Job","category":{"__CLASS__":"Adzuna::API::Response::Category","tag":"hr-jobs","label":"HR
        & Recruitment Jobs"},"created":"2022-04-27T21:54:52Z","salary_is_predicted":"0","company":{"display_name":"Brightwheel","__CLASS__":"Adzuna::API::Response::Company"}},{"__CLASS__":"Adzuna::API::Response::Job","category":{"__CLASS__":"Adzuna::API::Response::Category","label":"Consultancy
        Jobs","tag":"consultancy-jobs"},"created":"2022-04-30T05:58:06Z","salary_is_predicted":"0","company":{"display_name":"DaVita
        Inc.","__CLASS__":"Adzuna::API::Response::Company"},"redirect_url":"https://www.adzuna.com/land/ad/3091312703?se=sEHp3fXL7BGK3-Lsd04pBg&utm_medium=api&utm_source[...]
